
{{> header}}

	<div class="row">
		<div class="col-12">
			<p>Having trouble color of your outfit today? Proceed to get some ideas!</p>
		</div>
	</div>
	<div class="row padding-10">
		<div class="col-12">
			<div class="slideshow" data-simple-slider>
				<img src="./images/slideshow/01.png"/>
				<img src="./images/slideshow/02.png"/>
				<img src="./images/slideshow/03.png"/>
				<img src="./images/slideshow/04.png"/>
			</div>
			<script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>
			<script>
				simpleslider.getSlider();
			</script>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<button onclick="location.href='/chooseCloth';">Getting Start</button>
		</div>
	</div>
</div>

{{> footer}}